body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.game-container {
  position: relative;
  width: 400px;
  height: 200px;
  border: 2px solid #000;
}

.paddle {
  position: absolute;
  width: 100px;
  height: 10px;
  background-color: #000;
}

#paddle-top {
  top: 0;
}

#paddle-bottom {
  bottom: 0;
}

.ball {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f00;
  border-radius: 50%;
}
